@media only screen and (max-width: 992px) {
  .includes-container > span > span,
  .full-description > span > span,
  .important-info .important-contents > span > span,
  .highlights .highlights-content > span > span {
    flex: none;
    max-height: calc(
      26px * var(--line-limit-mobile) + var(--line-limit-mobile) * 4px
    );
  }

  .includes-container p,
  .full-description p,
  .important-info p,
  .highlights p {
    flex: none;
  }
}

@media only screen and (max-width: 786px) {
  .banner-text {
    left: calc(33% + 40px) !important;
  }

  #product-list li {
    width: calc(50% - 10px);
  }
}

@media (max-width: 480px) {
  .btn-img img {
    width: 24px !important;
    height: 24px !important;
    margin: 0;
    padding: 0;
  }

  .arrow-right {
    width: 16px !important;
  }

  #product-list li {
    width: 100%;
  }

  #recommended-list li,
  #rated-list li,
  #recently-list li {
    min-width: 210px !important;
    max-width: 250px !important;
  }

  .tour-image {
    height: 230px !important;
  }

  .fav-heart {
    width: 28px !important;
  }

  .footer {
    background-color: #2f3e46;
    padding: 10% 6% !important;
    gap: 50px;
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .footer-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0;
    padding: 0;
  }

  .footer-store,
  .footer-support,
  .footer-company,
  .footer-work {
    display: flex;
    flex-direction: column;
    line-height: 1;
    gap: 10px !important;
  }

  .footer-social {
    flex-direction: column;
  }
}
